#center
    .flexbox-container
        .flex-block
        .flex-block
        .flex-block
        .flex-block
        .flex-block
    .flexbox-container
        .flex-block
        .flex-block.empty
        .flex-block
        .flex-block.empty
        .flex-block
