.flexbox-container
    .flex-block
    .flex-block
    .flex-block
    .flex-block
    .flex-block
.flexbox-container.justify
    .flex-block.empty
    .flex-block.empty
    .flex-block
    .flex-block.empty
    .flex-block.empty
.flexbox-container