.flexbox-container.white.justify
    .swatch.box1
    .swatch.box2
    .swatch.box3
    .swatch.box4
    .swatch.box5
    .swatch.box6
    .swatch.box7
    .swatch.box8
    .swatch.box9
    .swatch.box10
.flexbox-container.white.justify
    .swatch.box1r
    .swatch.box2r
    .swatch.box3r
    .swatch.box4r
    .swatch.box5r
    .swatch.box6r
    .swatch.box7r
    .swatch.box8r
    .swatch.box9r
    .swatch.box10r
.flexbox-container.white.justify
    .swatch.box1b
    .swatch.box2b
    .swatch.box3b
    .swatch.box4b
    .swatch.box5b
    .swatch.box6b
    .swatch.box7b
    .swatch.box8b
    .swatch.box9b
    .swatch.box10b
