:coffeescript
  $ ->
    $('.wrap').toggleClass 'active'
    $('#save-seed, #seed-image').on 'click', ->
      $('.wrap, #seed-image').toggleClass 'active'
      if $('#seed-image').hasClass('active')
        $('#seed-image').show()
        $('#seed-image').attr 'src', "happy_seed.png"
      false
    $('#save-seed-form').submit ->
      valuesToSubmit = $(this).serialize()
      $.ajax
        method: 'POST'
        url: '/home/save_seed'
        data: valuesToSubmit
        dataType: 'json'
        success: (response_data) ->
          console.log 'You successfully have an ajax call to save seed', response_data
          $('#system-status').text 'Saved your seed!'
          $('#current-message').text 'Current Message: ${valuesToSubmit.comment}'
        error: (response_data) ->
          $('#system-status').text 'Error saving seed, try again'
          console.log 'You have failed an ajax call to save seed', response_data
    $('#to-map').click ->
      $.ajax
        method: 'POST'
        url: '/home/add_seed'
        data:
          location_id: plant_location_id
          plant_type: new_plant_type
        success: (data) ->
          console.log 'SUCCESS', data
          if data.plant_success == true
            window.location = data.goto
          else
            $('#system-status').text 'You can\'t plant a seed without a message!'
      return
    $('#to-trees').click ->
      $.ajax
        method: 'get'
        url: '/branches/' + plant_location_id+ '/seeds'
        data: location_id: plant_location_id
        success: (data) ->
          console.log 'SUCCESS', data
          console.log 'this is my goto: ${data.goto}'
          window.location = data.goto
      return
    $('#new-location').click ->
      $.ajax
        method: 'POST'
        url: '/map/create_location_here'
        data:
          longitude: window.position.lng
          latitude: window.position.lat
        success: (data) ->
          console.log 'SUCCESS', data
          window.location = data.goto
      return
    $('#to-map').hide()
    $('#new-location').hide()
    $('#seed-image').hide()
    $('#to-trees').hide()
    if navigator.geolocation
    
      f = ->
        options = 
          enableHighAccuracy: true
          timeout: 5000
          maximumAge: 0
          desiredAccuracy: 0
          frequency: 1
    
        onSuccess = (position) ->
          plant = undefined
          pos = 
            lat: position.coords.latitude
            lng: position.coords.longitude
          window.position = pos
          $('#location-status').text = 'Location has been found'
          Plant = getNearby: ->
            console.log 'you\'re about to make an ajax call'
            $.ajax
              type: 'POST'
              url: '/home/nearby'
              data: JSON.stringify(
                'my_lat': position.coords.latitude
                'my_long': position.coords.longitude)
              contentType: 'application/json'
              dataType: 'script'
              success: (response_data) ->
                console.log 'you got an ajax call working!'
                console.log 'This is plant_lat: ${plant_lat}'
                if isNaN(plant_lat) == true
                  $('#new-location').show()
                  $('#location-status').text = 'You\'re not near a seedbed'
                  console.log plant_pic
                else
                  $('#to-map').show()
                  $('#to-trees').show()
                  if $('#seed-image').hasClass('active')
                    $('#seed-image').show()
                    $('#seed-image').attr 'src', new_plant_type
                  $('#location-status').text = 'You\'re near a seedbed!'
                  console.log 'Should be setting the location status'
                  document.getElementById('location-status').innerHTML = 'You are near a seedbed!'
                return
              error: (response_data) ->
                console.log 'the call is failing', data
                return
            false
            return
          plant = new (Plant.getNearby)
    
        onError = (error) ->
          alert 'code: ${error.code}\nmessage: ${error.message}\n'
          return
    
        watchID = navigator.geolocation.watchPosition(onSuccess, onError, options)
        return
    
      location = new f
    else
      # Browser doesn't support Geolocation
      handleLocationError false, infoWindow, map.getCenter()
    return
    
    handleLocationError = (browserHasGeolocation, infoWindow, pos) ->
      infoWindow.setPosition pos
      infoWindow.setContent if browserHasGeolocation then 'Error: The Geolocation service failed.' else 'Error: Your browser doesn\'t support geolocation.'
      infoWindow.open map
    
    $(window).load ->
      my_lat = parseFloat($('#lat').val())
      my_lng = parseFloat($('#lng').val())
      map = new initMap(my_lat, my_lng)
      return

%div.title  Today, at a cafe near you, a seed was planted
.container.text-center.seed-alert
  %h2#location-status Finding Your Location
  .btn.btn-md.btn-default#new-location Add a Location
.wrap
  .content
    = form_tag save_seed_path, {:id => "save-seed-form", :remote => true, :method => :post} do
      .embed-submit-field
        - if session[:plant_id]
          %textarea{:cols => "50", :name => "comment", :placeholder => "Fill your seed with a memento", :rows => "4", :value => @curr_message}
          -# match if ends with png
          -# match if ends with mp3/mp4 
          -# then render inside of placeholder
        %button{:type => "submit", :id => "save-seed"} Save!
      %label{:for => "image_uploads"}
        = image_tag "pic.png", :width=> "25%"
        = image_tag "vid.png", :width=> "25%"
        = image_tag "audio.png", :width=> "25%"
      %input#image_uploads{:accept => "audio/*,video/*,image/*", :name => "image_uploads", :type => "file", :style => "opacity: 0;"}/
.container
  %image.seed#seed-image
.container#plant-seed
  #system-status
  .btn.btn-md.btn-success#to-map Plant My Seed
  .btn.btn-md.btn-default#to-trees View All Seeds




:scss
  body {
    background: #85d3f3;
    background-image: url("https://preview.c9users.io/samyuktaraman/final-project/littlethings/app/assets/images/bg.png"); /* fallback */
    background-image: url("https://preview.c9users.io/samyuktaraman/final-project/littlethings/app/assets/images/bg.png"), linear-gradient(#68b0f1, #85d3f3); /* W3C */
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    box-sizing: border-box;
    margin-top: 0px;
       
  }
  
  .title{
    width: 35%;
    font-size:20px;
    margin: 0 auto;
    margin-top: 60px;
    text-align: center;  
  }

  * {
    box-sizing: inherit;
  }

  .container {
    width: 80%;
    margin: 0 auto;
    margin-top: 10px;
  }
  
  .seed-alert {
    margin-top: 0px;
  }
  
  #seed-image{
    position: absolute;
    z-index: 1;
    top: 45%;
    left: 40%;
    height: 100px;
    width: 100px;
  }

  .embed-submit-field {
    position: relative;
    z-index:2;
    textarea {
      width: 100%;
      height: 150px;
      padding: 15px;
      border:2px solid #768c21;
      border-color: #768c21;
      background: lighten(#f0f4c3, 15%);
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
      
    }
    button {
      position: absolute;
      right: 0px;
      bottom: 3px;
      color: white;
      border-top-left-radius: 2em;
      border: 2px solid #768c21;
      margin-bottom: 2px;
      -webkit-appearance: none;
      -moz-appearance: none;
      background: #7a9122;
      padding: 10px;
      transition: all .2s;
      
      &:active {
        background-color: #499115;
        color: #fff;
        cursor: pointer;
      }
    }
  }

  // Seed pulse animation
  @keyframes pulse {
      0% {
          transform: scale(1, 1);
      } 50% {
          transform: scale(1.1, 1.1);
      } 100% {
          transform: scale(1, 1);
      };
  }

  .seed {
  	animation: pulse 1s linear infinite;
  }
  #system-status {
    margin-top: -20px;
    text-align: center;
  }
    
  
  .wrap {
    position: absolute;
    overflow: hidden;
    top: 40%;
    right: 10%;
    bottom: 23%;
    left: 10%;
    padding: 20px 50px;
    display: block;
    transform: translateY(20px);
    transition: all 0.5s;
    visibility: hidden;
  }
  .wrap .content {
    opacity: 0;
  }
  .wrap:before {
    position: absolute;
    width: 1px;
    height: 1px;
    background-color:rgba(0, 0, 0, 0.0);
    bottom: 10px;
    left: 50%;
    top: 95%;
    color: #fff;
    -webkit-transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  .wrap.active {
    display: block;
    visibility: visible;
    transition: all 600ms;
    transform: translateY(0px);
    transition: all 0.5s;
  }
  .wrap.active:before {
    height: 500px;
    width: 500px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    margin-left: -250px;
    margin-top: -250px;
    display: block;
    -webkit-transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  .wrap.active .content {
    position: relative;
    z-index: 1;
    opacity: 1;
    transition: all 600ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  
  a.button {
    padding: 11px 11px 13px 13px;
    outline: none;
    border-radius: 50%;
    background: #007fed;
    color: #fff;
    font-size: 24px;
    display: block;
    position: fixed;
    left: 50%;
    bottom: 20px;
    top: auto;
    margin-left: -25px;
    transition: transform 0.25s;
  }
  a.button:hover {
    text-decoration: none;
    background: #2198ff;
  }
  image#seed-image.active {
    transform: rotate(135deg);
    transition: transform 0.5s;
  }
  #plant-seed {
    position: absolute;
    top: 80%;
    left: 15%;
  }
