%div
  %p.message Explore your surrounding areas! Uncover the secrets, memories, and stories around you. 

%div
  %img.seed_img(src="/pear.png")
  
  
:scss
  .seed_img
  {
    max-width: 25%;
    max-height: 25%;
    border:2px solid #768c21;
    border-color: #768c21;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    
  }
  .message
  {
    width: 100%;
    height: 200px;
    padding: 15px;
    border:2px solid #768c21;
    border-color: #768c21;
    background: #f0f4c3;
    font-family: 'Lora', Helvetica, Arial, sans-serif;
    font-size: 30px;
    text-align: center;  
  }
  
  