.container-fluid.fill
    .one-third.light-gray.col-xs-12.np.text-center
        %h1.custom 1
    .one-third.medium-gray.col-xs-12.np.text-center
        %h1.custom 2
    .one-third.dark-gray.col-xs-12.np.text-center
        %h1.custom 3
    