.container-fluid.fill
    .one-third.light-gray.col-xs-6.np.text-center
        %h1.custom 1
    .one-third.medium-gray.col-xs-6.np.text-center
        %h1.custom 2
    .one-third.dark-gray.col-xs-6.np.text-center
        %h1.custom 3
    .one-third.white.col-xs-6.np.text-center
        %h1.custom.black 4
    .one-third.light-gray.col-xs-6.np.text-center
        %h1.custom 5
    .one-third.medium-gray.col-xs-6.np.text-center
        %h1.custom 6

    
    