.container-fluid.fill
    .one-ninth.dark-gray.col-xs-12.np.text-center.align-top
        %h1.custom 1
    .one-third.light-gray.col-xs-6.np.text-center
        %h1.custom 2
    .one-third.medium-gray.col-xs-6.np.text-center
        %h1.custom 3
    .two-third.white.col-xs-12.np.text-center.align-middle
        %h1.custom.black 4

    