:coffeescript
    $ ->
        canvas = document.getElementById('canvas')
        ctx = canvas.getContext('2d')
        w = canvas.width
        h = canvas.height
        
        MAXHEIGHT = 13
        CURRHEIGHT = 6
        
        clearCanvas = ->
            canvas.width = canvas.width
            ctx.scale 1, -1
            ctx.translate 150, -440
            ctx.lineWidth = 10
            ctx.lineCap = 'round'
            ctx.strokeStyle = '#592c18'
            ctx.fillStyle = 'green'
            console.log "canvas cleared"
            
        drawTree = (i) ->
            l = 40 + 80 * Math.random()
            # draw leaves
            if i <= 1
                ctx.beginPath()
                ctx.arc 0, 0, 25, 0, 2 * Math.PI

                # ctx.arc 0, 0, l * (1 + Math.random()) / 4, 0, 2 * Math.PI
                
                colorRandom = Math.random() * 3
                if colorRandom < 2.5 && colorRandom > 2
                    ctx.fillStyle = "orange"
                else if colorRandom < 3 && colorRandom > 2.5
                    ctx.fillStyle = "yellow"
                else if colorRandom > 1.5 && colorRandom < 2
                    ctx.fillStyle = "#b9f7ed"
                ctx.fill()
            if i <= 0
                return
            ctx.save()
            
            # draw a stem
            ctx.beginPath()
            ctx.moveTo 0, 0
            ctx.lineTo 0, l
            ctx.stroke()
            ctx.globalAlpha *= 0.7 + Math.random() * 0.4
            
            # move to end of stem and get smaller
            ctx.translate 0, l
            ctx.scale 0.75, 0.75
            
            # draw right branch
            ctx.save()
            ctx.rotate Math.PI / 20 + Math.random() * 2 / i
            
            drawTree i-1
            if i > 5
                drawTree i-3

            ctx.restore()
            
            # draw left branch
            ctx.save()
            ctx.rotate -Math.PI / 20 - (Math.random() * 2 / i)
            drawTree i - 1
            if i > 5
                drawTree i-3
            ctx.restore()
            ctx.restore()
            return

        clamp = (x, min, max) ->
            Math.min Math.max(x, min), max


        ctx.save()
        ctx.scale 1, -1
        ctx.translate 150, -440
        ctx.lineWidth = 10
        ctx.lineCap = 'round'
        ctx.strokeStyle = '#592c18'
        ctx.fillStyle = 'green'
        drawTree CURRHEIGHT
        
        ctx.restore()
        sx = 0.75
        ctx.transform 1, 0, sx, 1, -h * sx, 0
        ctx.globalAlpha = 0.2
        ctx.globalCompositeOperation = 'destination-over'

        $('.clear').on 'click', clearCanvas
        $('.grow').click ->
            clearCanvas()
            CURRHEIGHT++
            if CURRHEIGHT <= MAXHEIGHT
                drawTree CURRHEIGHT
            else
                clearCanvas()
                CURRHEIGHT = 6
            return
        

.container-fluid
    %canvas#canvas{:height => "400", :width => "280"}
    .button-container
        .button.clear Clear Screen
        .button.grow Grow Tree
        .button.drop Drop Seed
    .grass
        =image_tag("https://preview.c9users.io/samyuktaraman/final-project/littlethings/public/grass.png", width: '100%')


// IGNORE, BUT KEEP THIS LINE (Back button)   
= render :partial => "application/back_to_root"
    
:scss
    #canvas{
        width: 100%;
        height: 100%;
        cursor: pointer;
        margin-top: 30px;
    }
    .container-fluid {
        min-height: 100%;
        padding: 0px;
        background : -moz-linear-gradient(50.3% 68.44% 90.52deg,rgba(135, 213, 244, 1) 0%,rgba(106, 179, 247, 1) 100%);
        background : -webkit-linear-gradient(90.52deg, rgba(135, 213, 244, 1) 0%, rgba(106, 179, 247, 1) 100%);
        background : -webkit-gradient(linear,50.3% 68.44% ,49.68% 29.71% ,color-stop(0,rgba(135, 213, 244, 1) ),color-stop(1,rgba(106, 179, 247, 1) ));
        background : -o-linear-gradient(90.52deg, rgba(135, 213, 244, 1) 0%, rgba(106, 179, 247, 1) 100%);
        background : -ms-linear-gradient(90.52deg, rgba(135, 213, 244, 1) 0%, rgba(106, 179, 247, 1) 100%);
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#87D5F4', endColorstr='#6AB3F7' ,GradientType=0)";
        background : linear-gradient(-0.52deg, rgba(135, 213, 244, 1) 0%, rgba(106, 179, 247, 1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#87D5F4',endColorstr='#6AB3F7' , GradientType=1);
    }
    .button-container{
        position: absolute;
        top: 60px;
        width: 100px;
    }
    .button{
        width: 100%;
        height:25px;
        margin-bottom: 5px;
        color: #3b9fed;
        border-style: solid;
        border-width: 2px;
        border-color: #3b9fed;
        background-color: white;
        text-align: center;
        z-index: 10;
    }
    .grass{
        position: absolute;
        bottom: 0px;
    }
