:scss
    #home-button{
        position: absolute;
        z-index: 100;
        top: 15px;
        left: 15px;
    }
    
= button_to "Edit My Seed", home_path, {:method => 'get', id: "home-button", :class => 'btn btn-sm'}
